@import "tailwindcss";


body {
  font-weight: 400;
  font-style: normal;
  scrollbar-width: none;
  -ms-overflow-style: none;

  background: linear-gradient(175deg, #171717 0%,  #000000 100%);
}

body::-webkit-scrollbar {
  display: none;
}